@import 'config';


.burger {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    top: 5%;
    left: 2rem;
    z-index: 1500;
    cursor: pointer;
    .bar{
        width: 2rem;
        border-radius: .8rem;
        height: .25rem;
        background: $main-grey; 
        &.half{
            width:50%;

        }
        &.start{
            transform-origin: right; 
            transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
            &.open{
                transform: rotate(-450deg) translateX(.8rem);
            }
        }
        &.end{
            align-self: flex-end;
            transform-origin: left;
            transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
            &.open{
                transform: rotate(-450deg) translateX(-.8rem);
            }
        }

    }

    &.open{
        transform: rotate(-45deg);
    }
}

nav{
    .menu{
        z-index: 50;
        position: fixed;
        top: -100vh;
        height: 100vh;
        width:100%;
        background-color:$main-red;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 650ms cubic-bezier(1,0,0,1);

        li {
            font-size: 2rem;
            letter-spacing: .8rem;
            list-style: none;
            padding: 3%;
        }

        .link-num{
            font-size: 4rem;
            opacity: 0.2;
        }
        
        &.open{
            top: 0;
            border-radius: initial;
        }
    }
}

.landing-container{
    background: url('../Images/landing.jpg') no-repeat center center fixed;
    .landing {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        &-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-size: 2.5rem;
        }
    
        &-img{
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 5rem;
            color: $main-orange;
        }
    
    }
    .down-arrow{
        display: flex;
        position: absolute;
        left: 1%;
        bottom: 5%;
        width: 100%;
        font-size: 3rem;
        color: $main-orange;
        cursor: pointer;

        &:hover{
            color: $main-red;
        }
    }
}

.about{
    height: 100vh;
    display: flex;
    .img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        img {
            box-shadow:2px 2px 10px 4px #111;
            width: 70%;
            height: 60%;
        }
    }

    &-text{
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;

        p{
            font-weight: 200;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        h4{
            font-size: 3rem;
            margin: 0 0 40px 0;
            letter-spacing: 4px;
        }

        .section-num{
            font-size: 5rem;
            opacity: .3;
            color: $main-blue;
        }
    }
}

.resume-contianer{
    height: 12vh;
    background: $main-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        font-weight: bold;
        font-size: 1rem;
        background: transparent;
        padding: 20px;
        text-transform: uppercase;
        border: 2px solid #f7f7f7;
        transition: .3s;
        outline: none;
        &:hover{
            font-size: 1.1rem;
            cursor: pointer;
        }
    }
}

.faq-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
    }
}


footer {
    height: 60px;
    background: $main-yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-icon{
        cursor: pointer;
        font-size: 4rem;
        transition: 0.50s ease;
        &:hover{
            color: $main-blue;
        }
    }
}