@import 'config';

.burger {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    top: 5%;
    left: 2rem;
    cursor: pointer;
    div{
        width: 2rem;
        border-radius: 10px;
        height: .25rem;
        background: $main-blue; 
    }
}
